  <div class="container">
    <div class="row my-3">
      <div class="col-sm-8 px-sm-0 offset-sm-1">
        <h1>会員情報編集</h1>
        <%= form_with model: @customer, url: public_customer_path(@customer.id), method: :get do |f| %>

        <div class="row">
          <div class="col-2 offset-md-1"><%= f.label "氏名" %></div>
          <div class="col-1 text-right pr-0"><%= f.label "(姓)" %></div>
          <div class="col-2"><%= f.text_field :last_name, :size => "10" %></div>
          <div class="col-1 text-right pr-0"><%= f.label "(名)" %></div>
          <div class="col-3"><%= f.text_field :first_name, :size => "10" %></div>
        </div>

        <div class="row">
          <div class="col-2 offset-md-1"><%= f.label "フリガナ" %></div>
          <div class="col-1 text-right pr-0"><%= f.label "(セイ)" %></div>
          <div class="col-2"><%= f.text_field :last_name_kana, :size => "10"%></div>
          <div class="col-1 text-right pr-0"><%= f.label "(メイ)" %></div>
          <div class="col-3"><%= f.text_field :first_name_kana, :size => "10" %></div>
        </div>

        <div class="row">
          <div class="col-3 offset-md-1"><%= f.label "郵便番号" %></div>
          <div class="col-3"><%= f.text_field :postal_code, :size => "10" %></div>
        </div>

        <div class="row">
          <div class="col-3 offset-md-1"><%= f.label "住所" %></div>
          <div class="col-3"><%= f.text_field :address, :size => "40" %></div>
        </div>

        <div class="row">
          <div class="col-3 offset-md-1"><%= f.label "電話番号" %></div>
          <div class="col-3"><%= f.text_field :telephone_number %></div>
        </div>

        <div class="row">
          <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
          <div class="col-3"><%= f.email_field :email, :size => "25" %></div>
        </div>

        <%= f.submit '編集内容を保存' %>
        <%= link_to '退会する', public_customers_unsubscribe_path %>
      </div>
    </div>
  <% end %>
  </div>