  <h1>商品画像</h1>

  <%= form_with model: @item, admin_item_path do |f| %>
    <h2>商品画像</h2>
    <%= f.text_field :name %>

    <h2>商品名</h2>
    <%= f.text_area :introdction %>

    <h2>ジャンル</h2>

    <h2>税抜価格</h2>
    <%= f.text_field :price %>

    <h2>販売ステータス</h2>
    <%= f.radio_button :sales_status, :draft %>
    <%= f.label :sales_status_draft, '販売中' %>
    <%= f.radio_button :sales_status, :on_sale %>
    <%= f.label :sales_status_on_sale, '販売停止中' %>

    <%= f.submit '変更を保存' %>


  <% end %>