  <h1>商品編集</h1>

  <%= form_with model: @item, url: admin_item_path do |f| %>
    <h2>商品画像</h2>
    <%= f.file_field :name %>


    <h2>商品名</h2>
    <%= f.text_area :name %>

    <h2>商品説明</h2>
    <%= f.text_area :introduction %>

    <h2>ジャンル</h2>


    <h2>税抜価格</h2>
    <%= f.text_field :price %>

    <h2>販売ステータス</h2>
   <%= f.radio_button :is_active, :'販売中' %>
  <%= f.label :is_active, '販売中' %>

  <%= f.radio_button :is_active, :'販売停止中'%>
  <%= f.label :is_active, '販売停止中' %>

    <%= f.submit '変更を保存' %>


  <% end %>