  <h1>商品一覧</h1>

  <% @items.each do |item| %>
  <span><%= item.id %></span>
  <span><%= item.name %></span>
  <span><%= item.price %></span>
  <span><%= item.genre.name %></span></span>
  <span><%= item.is_active %></span>
  <% end %>