<h1>商品新規登録</h1>



<%= form_with model: @Item, url: new_admin_item_path do |f| %>
  <h4>商品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>商品名</h4>

  <%= f.text_field :name %>

  <h4>商品説明</h4>
  <%= f.text_area :introdction %>

  <h4>ジャンル</h4>

  <h4>税抜価格</h4>
  <%= f.text_field :price %>
  <h4>販売ステータス</4> <%#https://qiita.com/d0ne1s/items/404781099598f908bd2a 参考url$%>

  <%= f.radio_button :sales_status, :draft %>
  <%= f.label :sales_status_draft, '販売中' %>

  <%= f.radio_button :sales_status, :on_sale %>
  <%= f.label :sales_status_on_sale, '販売停止中' %>

  <%= f.submit '投稿' %>

<% end %>