<h1>会員一覧</h1>


<% @customers.each do |customer| %>

  <p>会員ID</p>
  <span><%= customer.id %></span>

    <p>氏名</p>
  <%= customer.last_name %><%= customer.first_name %> <%#ここにリンクを付ける%>

    <p>メールアドレス</p>
  <span><%= customer.email %></span>

    <p>ステータス</p>
  <span><%= customer.is_deleted %></span>

  <% end %>