<h1>名前さんの会員詳細</h1>
<p>会員ID</p>
<P><%#= @customer.id %></P>

<p>氏名</p>
<p><%= @customer.last_name %> <%= @customer.first_name %></p>

<p>フリガナ</p>
<p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>

<p>郵便番号</p>
<p><%= @customer.postal_code %></p>

<p>住所</p>
<p><%= @customer.address %></p>

<p>電話番号</p>
<p><%= @customer.telephone_number %></p>

<p>メールアドレス</p>
<p><%= @customer.email %></p>

<p>会員ステータス</p>
<p><%= @customer.is_deleted %></p>

<p>編集する</p>
<p>注文履歴一覧をみる</p>
